
/*------------------------------- Common Start ------------------------------------------ */

.BackToTop
{
	position: fixed;
	right: 4px;
	bottom: 4px;

	width: 30px;
	height: 30px;
	font-size: 30px;

	background: #F7F5F2;
	color: #7D7D7D;
	z-index: 4;

	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.BackToTop:hover,
.BackToTop:focus
{
	background: #F7F5F2;
	color: #000000;
}

/*------------------------------- Common End ---------------------------------- */
