
#Doc
{
	padding-top: 72px; /* 20px */
}

.page-container
{
	font-size: 1.3em;
	color: #444444;
}

.page-content-subheader
{
	color: #EF6C00;
	font-weight: 200;
  	font-size: 1.5em;
}

.section-content
{
	margin-bottom: 20px;
	padding-top: 50px;
}

/* -------------------------------- Sidebar Start ------------------------------------------- */

.nav-sidebar
{
	position: fixed;
	right: 0px;
	top: 80px;

	z-index: 1;

	display: inline-block;
	width: 350px;
	max-height: 500px;
	
	overflow-y: scroll;
	background: transparent;
}

.nav-sidebar-list
{
	position: relative;
	list-style-type: none;
	padding: 0px;
}

.nav-sidebar-list .nav-sidebar-list
{
	display: none;
}

.nav-sidebar>.nav-sidebar-list>li>a
{
	font-size: 1.0em;
}

.nav-sidebar>.nav-sidebar-list>li>.nav-sidebar-list>li>a
{
	padding-left: 15px;
	font-size: 0.9em;
}

.nav-sidebar-list>li>.nav-sidebar-list>li>.nav-sidebar-list>li>a
{
	padding-left: 30px;	
}

.nav-sidebar-list .active>.nav-sidebar-list
{
	display: block;
}

.nav-sidebar-list>li
{
	/*padding: 2px;*/
}

.nav-sidebar-list>li>a
{
	font-size: 0.8em;
	padding: 4px;
	border-left: 2px solid transparent;
	color: #444444;
}

.nav-sidebar-list>li>a:hover
{
	color: #E44249;
	background: #FFFFFF;
	border-left: 1px solid #E44249;
}

.nav-sidebar-list>li>a:focus
{
	background: #FFFFFF;
}

.nav-sidebar-list>li.active>a
{
	color: #E44249;
	border-left: 2px solid #E44249;
}

/* -------------------------------- Sidebar End ------------------------------------------- */

/* ------------------------ Doc Scrollbar Start ------------------------ */

.doc-scroll::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

.doc-scroll::-webkit-scrollbar-button:start:decrement,
.doc-scroll::-webkit-scrollbar-button:end:increment
{
	height: 0px;
	display: block;
	background-color: transparent;
}

.doc-scroll::-webkit-scrollbar-track-piece  
{
	background-color: #FFFFFF;
}

.doc-scroll::-webkit-scrollbar-thumb:vertical 
{
	height: 20px;
	background-color: #888888;
	border: 1px solid #888888;
}

/* ------------------------ Doc Scrollbar End ------------------------- */

/* ------------------------ Small Scrollbar Start ------------------------ */

.small-scroll::-webkit-scrollbar 
{
	width: 3px;
	height: 10px;
}

.small-scroll::-webkit-scrollbar-button:start:decrement,
.small-scroll::-webkit-scrollbar-button:end:increment
{
	height: 0px;
	display: block;
	background-color: transparent;
}

.small-scroll::-webkit-scrollbar-track-piece  
{
	background-color: #FFFFFF;
}

.small-scroll::-webkit-scrollbar-thumb:vertical 
{
	height: 50px;
	background-color: #AAAAAA;
	border: 1px solid #AAAAAA;
}

/* ------------------------ Small Scrollbar End ------------------------- */


/* -------------------------------- Tag Filter Start ------------------------------------------- */

.tag-filter
{
	position: fixed;
	right: 0px;
	top: 80px;

	z-index: 2;

	display: inline-block;
	width: 340px;
	height: 500px;

	padding: 10px;

	overflow: scroll;	
	display: none;
	background: #FFFFFF;
}

.tag-filter-content
{
	position: relative;
	list-style-type: none;
	padding: 0px;
}

.tag-filter-content>li
{
	margin: 5px 0px;
}

.tag-filter-content>li>a
{
	padding: 3px 10px;
	background: #E44249;
	color: #FFFFFF;
	font-size: 0.8em;
}

.tag-filter-content>li>a:hover
{
	background: #98B45D;
}

.tag-filter-content>li>a.active
{
	background: #98B45D;
}

.tag-filter-title
{
	font-size: 1.5em;
}

.tag-filter-close
{
	font-size: 1.5em;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

/* -------------------------------- Tag Filter ------------------------------------------- */

.ParameterOptionsList-Content
{
	margin-top: 30px;
}

.parameter-cont
{
	margin: 30px 10px 20px 10px;
}

.parameter-cont div
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.parameter-cont ul
{
	margin-bottom: 0px;
}

.page-content .parameter-name
{
	font-size: 1.5em;
	color: #000000;
	margin-right: 20px;
}

.page-content .parameter-name:hover
{
	color: #E44249;
}

.option-header
{
	color: #336E7B;
	font-size: 1.05em;
	text-decoration: underline;
}

.parameter-version
{
	font-size: 1.5em;
	color: #333333;
}

article p
{
	font-size: inherit;
}

.parameter-tag
{
	padding: 3px 10px;
	background: #E44249;
	color: #FFFFFF;
	font-size: 0.8em;
}

.parameter-tag:hover
{
	background: #98B45D;
	color: #FFFFFF;
}

.parameter-examples
{
	display: block;
}

.ss-header
{
	text-align: center;
}

.ss-header img
{
	margin-bottom: 50px;
}

.ss-headercomp1 img
{
	max-width: 800px;
	height: auto;
}

@media (max-width: 1200px)
{
	.ss-headercomp1 img
	{
		width: 100%;
		height: auto;
	}
}

.page-content li
{
	margin-bottom: 5px;
	margin-top: 5px;
}

.icon-link:before
{
	font-size: 0.7em;
}

.icon-link, .icon-link code
{
	color: #C7254E;
}

.icon-link:hover, .icon-link:hover code
{
	color: #561021;
}

.InputArraysList-Content li
{
	margin-bottom: 10px;
}

.codepath
{
	padding: 2px 4px;
	font-size: 0.9em;
	color: #555555;
	white-space: nowrap;
	background-color: #F5F5F5;
	border-radius: 4px;
}

.tag-api
{
	padding: 3px 5px;
	background: #26C281;
	color: #FFFFFF;

	font-size: 0.5em;
	border-radius: 5px;
}